<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css"type="text/css">
    <link rel="stylesheet" href="fontawesome.com"type="text/css">
    <script src="https://kit.fontawesome.com/44a5a88e05.js" crossorigin="anonymous"type="text/javascript"></script>
    <title>Contact Us</title>
</head>
<body>
    <section class="header">
        <nav>
            <a href="index.html"><img src="_LOGO.gif"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="javascript:history.back()">Home</a></li>
                    <li><a href="javascript:history.back()">Various Clubs</a></li>
                    <li><a href="/contactUs">Contact US</a></li>  
                    <li><a href="/">Logout </a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <div class="text-box">
            <h1>CONTACT US!!</h1><br>
            <!-- <h1>PICT's First Ever Website Which Will Give You All The Information About Various Clubs</h1> -->
            <a href="index.html" target="_blank" class="hero-btn">Visit Us To Know More</a>
        </div>
    </section>
    <!-- Contact Us -->
    <section class="location">
        <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=dypit+(Dr.%20D.%20Y.%20Patil%20Institute%20of%20Technology)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/distance-area-calculator.html">measure area map</a></iframe></div>
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.5761897254224!2d73.84864491484174!3d18.45754208744567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2eac85230ba47%3A0x871eddd0a8a0a108!2sSCTR&#39;S%20Pune%20Institute%20of%20Computer%20Technology!5e0!3m2!1sen!2sin!4v1655175930659!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
    </section>

    <section class="contact-us">
        <div class="row">
            <div class="contact-col">
                <div>
                    <i class="fa fa-home"></i>
                        <span>
                            <h5>XYZ Road abc Building</h5>
                            <p>Pune, Maharashtra, IN</p>
                        </span>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                        <span>
                            <h5>+91 9420201407</h5>
                            <p>Monday To Saturday, After 3pm</p>
                        </span>
                </div>
                <div>
                    <i class="fa fa-envelope-o"></i>
                        <span>
                            <h5>info@gmail.com</h5>
                            <p>Email Us your Query</p>
                        </span>
                </div>
            </div>
            <div class="contact-col">

                <form action="form-handler.php" method="post">
                    <input type="text" name="name" placeholder="Enter your name" required>
                    <input type="email" name="email" placeholder="Enter your email address" required>
                    <input type="number" name="subject" placeholder="Enter Your Roll No.">
                    <textarea rows="8" name="message" placeholder="Message" required></textarea>
                    <button type="submit" class="hero-btn red-btn">Submit Now</button>
                </form>
            </div>
        </div>
        <div class="wrapper-grid">
            <div class="container">
                <div class="banner-img"></div>
                <img src="s (2).jpeg" alt="profile image" class="profile-img">
                <h1 class="name">Shantanu Pawar</h1>
                <p class="description">Hi there! My name is Shantanu</p>
                <a href="https://www.linkedin.com/in/raj-gharat-b5b891224/" target="_blank">
                    <button class="btn">Contact Me!</button>
                </a>
            </div>
            <div class="container">
                <div class="banner-img"></div>
                <img src="p.jpeg" alt="profile image" class="profile-img">
                <h1 class="name">Pumang Kirange</h1>
                <p class="description">Hi there! My name is Pumang</p>
                <a href="" target="_blank">
                    <button class="btn">Contact Me!</button>
                </a>
            </div>
            
            <div class="container">
                <div class="banner-img"></div>
                <img src="d.jpeg" alt="profile image" class="profile-img">
                <h1 class="name">Dipesh Chavan</h1>
                <p class="description">Hi there! My name is Dipesh</p>
                <a href="" target="_blank">
                    <button class="btn">Contact Me!</button>
                </a>
            </div>
            <div class="container">
                <div class="banner-img"></div>
                <img src="t.jpeg" alt="profile image" class="profile-img">
                <h1 class="name">Tejaswini Sontakke</h1>
                <p class="description">Hi there! My name is Tejaswini
                </p>
                <a href="" target="_blank">
                    <button class="btn">Contact Me!</button>
                </a>
            </div>
            <div class="container">
                <div class="banner-img"></div>
                <img src="a.jpeg" alt="profile image" class="profile-img">
                <h1 class="name">Asmi</h1>
                <p class="description">Hi there! My name is Asmi</p>
                <a href="">
                <button class="btn">Contact Me!</button>
            </a>
                
            </div>
        </div>
    </section>
</body>
</html>
